<div>
    <div class="row">
    	<div class="col-xs-12">
            <h2>About this app</h2>
            <p>The Pleasant Grove City Council invited its’ Beautification Commission to put together a tree guide for trees that will do well in the Pleasant Grove area. We are pleased to introduce this tree guide as a resource for helping citizens of Pleasant Grove select trees that will do well in our area and meet their needs and interests. This tree guide provides useful information about size, relative growth rates, and other features such as water requirements, fall color, edible fruit, and more! The tree guide is categorized by the following:</p>
            <ol>
<li><b>Boulevard/park strip trees</b> &ndash; includes trees that are smaller in size and typically have a narrow or columnar growth habit. These features are important when planting in boulevards or park strips to reduce or eliminate a number of potential problems later as the tree matures. Poor selection of trees for a boulevard or park strip can results in things such as roots lifting sidewalks, branches interfering with driver visibility, branches inferring with power lines, unsightliness, other safety hazards, etc.</li>
<li><b>Utility trees </b>&ndash; includes smaller varieties of trees and includes some of the same trees as identified in the boulevard/park strip classification. The difference between the “utility” and “boulevard/park” strip classifications is this classification will include trees with smaller growth habits, but not necessarily a narrow or columnar growth pattern. Also, this classification includes both *deciduous and **coniferous varieties whereas the boulevard/park strip classification includes deciduous varieties only.</li>
<li><b>Mid-sized trees </b>&ndash; includes trees of both deciduous and coniferous varieties which typically require spacing between madture trees of 20 feet or more.</li>
<li><b>Large-sized trees</b> &ndash; includes trees of both deciduous and coniferous varieties which typically require spacing between mature trees of 35 feet or more.</li>
</ol>

        </div>
    </div>
</div>